<div class="orderTable">
    <h1>Order Details</h1>
    <table class="css-serial">
        <thead>
            <tr >
                <td>#</td>
                <td>Order ID</td>
                <td>Order Name</td>
                <td>Amount</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let orders of orderList,let i = index">
            <td></td>
            <td>{{orders.orderID}}</td>
            <td>{{orders.orderName}}</td>
            <td>{{orders.amount}}</td>
            <td class="icon">
               <button class="view" (click)="viewOrderItems(i)"><img src="./assets/view.png" height="30px" width="30px"></button>
               <button class="edit" (click)="editOrders(i)"><img src="./assets/edit.png" height="30px" width="30px"></button>
               <button class="delete" (click)="delOrder(i)"><img src="./assets/delete.png" height="30px" width="30px"></button>
            </td>
            </tr>
        </tbody>
    </table>
    <button class="btn" (click)="btnToggle()">+</button>
    <div class="input" *ngIf="btn; else elseBlock">
        <div>
            <input placeholder="Order Id" [(ngModel)]="orderID" >
        </div>
        <div>
            <input placeholder="Order Name" [(ngModel)]="orderName">
        </div>
        <div>
            <input placeholder="Amount" [(ngModel)]="amount">
        </div>
        <div>
            <button class="add" (click)="addOrder()">Add</button>
            <button class="cancel" (click)="cancelOrder()">Cancel</button>
        </div>
    </div>
    <ng-template #elseBlock>
        <h1></h1>
    </ng-template>
</div>


<!-- //new div// -->

<div class="itemTable" *ngIf="btn3, else elseBlock2">
    <h1>{{item}} Details</h1>
    <table class="css-serial">
        <thead>
            <tr>
                <td>#</td>
                <td>Item ID</td>
                <td>Order Name</td>
                <td>Amount</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor = "let items of orderList2"> -->
            <tr *ngFor = "let items of orderList2,let a = index">
                <td></td>
                <td>{{items.itemId}}</td>
                <td>{{items.itemName}}</td>
                <td>{{items.iamount}}</td>
                <td class="icon">
                   <button class="edit" (click)="editOrderItems(a)"><img src="./assets/edit.png" height="30px" width="30px"></button>
                   <button class="delete" (click)="delOrderItems(a)"><img src="./assets/delete.png" height="30px" width="30px"></button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn" (click)="btnToggle1()">+</button>
    <div class="input" *ngIf="btn1; else elseBlock1">
        <div>
            <input placeholder="Item ID" [(ngModel)]="itemId">
        </div>
        <div>
            <input placeholder="Item Name" [(ngModel)]="itemName">
        </div>
        <div>
            <input placeholder="Amount" [(ngModel)]="iamount">
        </div>
        <div>
            <button class="add" (click)="addOrderItem()">Add</button>
            <button class="cancel" (click)="cancelOrderItem()">Cancel</button>
        </div>
    </div>
    <ng-template #elseBlock1>
        <h1></h1>
    </ng-template>
</div>
<ng-template #elseBlock2>
    <h1></h1>
</ng-template>
