.css-serial {
    counter-reset: serial-number;
    width:50%;
    margin-top: 0;
    margin-left: 22%;
  }
  .body h1{
      margin-left: 40%;
  }
  .body1 h1{
    margin-left: 40%;
}
  .body1{
      margin-top: 5%;
      margin-bottom: 50px;
  }
  
  .css-serial tbody td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
  }
  thead{
      font-size: 20px;
      color: rgb(61, 60, 60);
  }
  thead, tr, td{
      border: 1px solid black;
      margin: 20px;
      padding:20px;
  }
  .btn{
    display:inline-block;
    font-size: 30px;
    color: white;
    background-color:green;
    padding:10px 15px 10px 15px;
    border: 1px solid transparent;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 22%;
}
.input div{
    display:inline-block;
    
}
input{
    padding: 10px;
}
.add, .cancel{
    padding: 10px;
}
.input{
    margin-left: 27%;
    margin-top: 5px;
}
.icon button{
    margin-right: 20px;
    background-color: white;
    border:1px solid transparent;
}

.view,.edit,.delete{
    box-shadow: 1px 1px;
}
.view,.delete,.edit:hover{
    cursor: pointer;
}
.add:hover{
    background-color: green;
    color:white;
    border:2px solid transparent;
    cursor: pointer;
}
.cancel:hover{
    background-color: red;
    color:white;
    border:2px solid transparent;
    cursor: pointer;
}