.body{
    width:40%;
    font-size: 40px;
    color:brown;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 26%;
    padding:30px;
}
button{
    font-size: 30px;
    color: white;
    background-color:green;
    padding:10px 15px 10px 15px;
    border: 1px solid transparent;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 40%;
}